body {
   
    background-color: #f8f8f8;
   
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
a:link{
    color: blue;
}
a:hover{
    color: #8B00ff;    
}
a:active{
    text-decoration: none;   
}
a:focus{
     text-decoration: none;   
}
a:visited{
    color: #8B0000;    
}
li {
    list-style-type: none; /* Убираем маркеры */
}
.menu a{
    color: #8B00FF;
    font-size: 20px;
    font-family: "Times New Roman", serif, Verdana;
    text-decoration: none;
             
}
.menu a:hover{
    color: #8B0000;
    text-decoration: underline;
    
             
}
.menu a:visited{
    color: #8B00FF;
    text-decoration: underline;
    
             
}


.desc h2 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    
}
.desc__short {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.desc__detailed {
    color: #484343;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
}
.desc__img {
    border: 1px solid #707070;
}
.character {
    color: #48434f;
    font-weight: 500;
    line-height: 30px;
    list-style-image: url(../images/list_style_20.png);
}

.contacts {
   border-color: #ece4e4;
    color: #484343;
    font-size: 18px;
}
.contacts input{
    width: 170px;
    height: 25px;
    font-size: 18px;
}
.contacts input[name=subject]{
    width: 300px;
}


.contacts textarea{
    width: 300px;
    height: 100px;
    font-size: 18px;
}


.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}